
.search{
    margin-top: 10px;
    margin-left: 600px;
    font-size: 20px;
}

.start
{
    margin-top: 40px;
    margin-left: 610px;
    font-size: 20px;
    margin-bottom: 30px;
    
}



.team{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0px;

}

.date{
    font-size: 25px;

}

.team{
    margin-left: 450px;
    margin-top: 10px;
}

.date{
    margin-left: 450px;
    margin-top: 10px;
}

 .team2{
    font-size:20px;
    margin-left: 150px;
}

.date2{
    font-size:20px;
    margin-left: 150px;
}
.operation{
    font-size:20px;
    margin-left: 150px;
}
.grade1{
    font-size:20px;
    margin-left: 150px;
}
.operator{
    font-size:20px;
    margin-left: 150px;
}
.grade2{
    font-size:20px;
    margin-left: 150px;
}

.teamsecond{
    width: 700px;
    height: 50px;
    margin-left: 150px;

}

.datesecond{
    width: 700px;
    height: 50px;
    margin-left: 150px;

}

.operationsecond{
    width: 700px;
    height: 50px;
    margin-left: 150px;

}

.grade1second{
    width: 700px;
    height: 50px;
    margin-left: 150px;

}

.operatorsecond{
    width: 700px;
    height: 50px;
    margin-left: 150px;

}

.grade2second{
    width: 700px;
    height: 50px;
    margin-left: 150px;

}

.h1second{
    margin-left: 500px;
}

.searchTitle{
    margin-left: 500px;
    margin-bottom: 30px;
}

.secondstdiv{

    margin-left: 150px;
    margin-top: 0px;
}    

.ok{
    font-size: 30px;
    margin-left: 800px;
    margin-top: -200px;

}


.stopwatch{
    margin-left: 750px;
    margin-top: -500px;
}


.background{
    background-color: darkcyan;
    height: fit-content;
}


.row{
    margin-left: 350px;
    margin-top: 50px;
}

.start{
  margin-top: -45px; 
  margin-left: 730px;

}


.title1{
    font-size: 25px;
    margin-top: -6px;

}



.title2{
    font-size: 25px;
    margin-top: -6px;
   
}


